.background-header {
  background-color: transparent;
  padding: 1rem 0;
}
.background-header img {
  width: 150px;
}
.background-header ul {
  margin-bottom: 0;
}
.background-header li {
  list-style: none;
  font-size: 15px;
  padding: 0 1.5rem;
}
.background-header a {
  color: grey;
}

.agenty-seccion {
  background-image: url(../img/bg-portada.jpg);
  font-size: cover;
  padding: 20rem 0;
  text-align: center;
}
.agenty-seccion h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 30px;
}
.agenty-seccion p {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.agenty-seccion a {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.836);
  padding: 15px 80px;
  transition: all 0.3s ease;
}
.agenty-seccion a:hover {
  background-color: rgba(0, 0, 0, 0.61);
  transition: all 0.3s ease;
}

.service {
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
  padding-bottom: 30px;
}
.service div {
  margin-top: 50px;
  margin-bottom: 40px;
}
.service div h2 {
  font-size: 30px;
}
.service div p {
  font-size: 15px;
  color: grey;
}
.service article {
  padding: 20px 8px;
}
.service article i {
  font-size: 60px;
  margin-bottom: 10px;
}
.service article h3 {
  font-size: 25px;
}
.service article p {
  font-size: 15px;
  color: grey;
}

.galeria {
  padding: 30px 0;
  padding-top: 50px;
  margin-bottom: 40px;
}
.galeria .galeria-titulo {
  margin-bottom: 40px;
}
.galeria .galeria-titulo h2 {
  font-size: 30px;
}
.galeria .galeria-titulo p {
  font-size: 15px;
  color: grey;
}
.galeria .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.galeria .img-container div {
  width: calc(100%/3);
  position: relative;
}
.galeria .img-container div .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.8);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.galeria .img-container div .overlay .datos-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.galeria .img-container div .overlay .datos-avatar h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}
.galeria .img-container div .overlay .datos-avatar p {
  font-size: 15px;
  color: white;
}
.galeria .img-container div:hover .overlay {
  opacity: 1;
}

.seccion-page {
  background: #191919;
  padding: 80px 0;
}
.seccion-page h2 {
  font-weight: 400;
  font-size: 30px;
  color: white;
  margin-top: -10px;
  margin-bottom: 40px;
}
.seccion-page a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: white;
  padding: 10px 70px;
}
.seccion-page a:hover {
  background-color: #c0bdbd;
}

.testimonios {
  margin-top: 60px;
  padding-bottom: 100px;
  background-color: rgba(128, 128, 128, 0.062);
}
.testimonios .testimonios-container .testimonio {
  background-color: white;
  margin: 55px 45px;
  padding: 50px 40px;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.08);
}
.testimonios .testimonios-container .testimonio img {
  border-radius: 50%;
}
.testimonios .testimonios-container .testimonio span {
  color: grey;
  padding: 15px;
}
.testimonios .testimonios-container .testimonio span::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #eee;
  margin: 4rem auto;
}
.testimonios .testimonios-container .testimonio h4 {
  color: black;
  font-size: 15px;
  font-weight: 100;
  margin-top: -20px;
}
.testimonios .testimonios-container .testimonio p {
  color: grey;
  font-size: 13px;
}

.contacto {
  margin-top: 60px;
  padding-bottom: 0;
}
.contacto .contacto-info-background {
  margin-top: 5rem;
  padding: 9rem 0;
  background-image: url(../img/bg-portada.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.contacto .contacto-info-background .contacto-info-container {
  background: white;
  width: 70%;
  max-width: 70rem;
  margin: 0 auto;
  box-shadow: 1px 3px 3px rgba(128, 128, 128, 0.08);
  padding: 5rem;
}
.contacto .contacto-info-background .contacto-info-container .space-contacto {
  margin-bottom: 60px;
}
.contacto .contacto-info-background .contacto-info-container .contenido-info h4 {
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}
.contacto .contacto-info-background .contacto-info-container .contenido-info span {
  color: grey;
  font-size: 12px;
}
.contacto .contacto-info-background .contacto-info-container .contenido-info a {
  color: grey;
  font-size: 12px;
}

footer {
  background-color: #191919;
  color: white;
  height: 90px;
}
footer div {
  padding-top: 9px;
}

/*# sourceMappingURL=app.css.map */
