.background-header {
  background-color   : transparent;
  padding            : 1rem 0;
  // border-bottom   : 1px solid grey;


  img {
    width: 150px;
  }

  ul {
    // margin-top   : 0;
    margin-bottom   : 0;
  }

  li {
    list-style: none;
    font-size : 15px;
    padding   : 0 1.5rem;
  }

  a {
    color: grey
  }
}

.agenty-seccion {
  background-image: url(../img/bg-portada.jpg);
  font-size       : cover;
  padding         : 20rem 0;
  text-align      : center;

  h1 {
    font-size     : 50px;
    text-transform: uppercase;
    font-weight   : 800;
    line-height   : 50px;
    margin-bottom : 30px;

  }

  p {
    color        : black;
    font-size    : 20px;
    font-weight  : 400;
    margin-bottom: 30px;
  }

  a {
    color           : white;
    text-decoration : none;
    background-color: rgba(0, 0, 0, 0.836);
    padding         : 15px 80px;
    transition      : all 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.61);
      transition      : all 0.3s ease;
    }
  }
}

.service {
  border-bottom : 1px solid grey;
  padding-bottom: 30px;

  div {
    margin-top   : 50px;
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
      color    : grey;
    }
  }

  article {
    padding: 20px 8px;

    i {
      font-size    : 60px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 15px;
      color    : grey;
    }
  }
}

.galeria {
  padding      : 30px 0;
  padding-top  : 50px;
  margin-bottom: 40px;

  .galeria-titulo {
    margin-bottom: 40px;

    h2 {
      font-size: 30px
    }

    p {
      font-size: 15px;
      color    : grey;
    }
  }

  .img-container {
    // display   : flex;
    // flex-wrap : wrap;
    // margin-top: 70px;
    display      : -webkit-box;
    display      : -ms-flexbox;
    display      : flex;
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;

    div {
      width   : calc(100%/3);
      position: relative;

      .overlay {
        opacity           : 0;
        position          : absolute;
        top               : 0;
        left              : 0;
        width             : 100%;
        height            : 100%;
        background        : rgba(grey, 0.8);
        -webkit-transition: all 0.5s ease;
        -o-transition     : all 0.5s ease;
        transition        : all 0.5s ease;

        .datos-avatar {
          position  : absolute;
          top       : 50%;
          left      : 50%;
          transform : translate(-50%, -50%);
          text-align: center;

          h3 {
            color        : white;
            font-size    : 20px;
            margin-bottom: 5px;
          }

          p {
            font-size: 15px;
            color    : white;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
  }
}

.seccion-page {
  background: #191919;
  padding   : 80px 0;

  h2 {
    font-weight  : 400;
    font-size    : 30px;
    color        : white;
    margin-top   : -10px;
    margin-bottom: 40px;
  }

  a {
    text-decoration : none;
    color           : black;
    font-size       : 15px;
    background-color: white;
    padding         : 10px 70px;

    &:hover {
      background-color: rgb(192, 189, 189)
    }
  }
}

.testimonios {
  margin-top      : 60px;
  padding-bottom  : 100px;
  background-color: rgba(128, 128, 128, 0.062);

  .testimonios-container {
    .testimonio {
      background-color: white;
      margin          : 55px 45px;
      padding         : 50px 40px;
      box-shadow      : 1px 3px 3px rgb(grey, 0.08);

      img {
        border-radius: 50%;
      }

      span {
        color  : grey;
        padding: 15px;

        &::after {
          content   : '';
          display   : block;
          width     : 50%;
          height    : 1px;
          background: #eee;
          margin    : 4rem auto;
        }
      }

      h4 {
        color      : black;
        font-size  : 15px;
        font-weight: 100;
        margin-top : -20px;
      }

      p {
        color    : grey;
        font-size: 13px
      }
    }
  }
}

.contacto {
  margin-top    : 60px;
  padding-bottom: 0;

  .contacto-info-background {
    // margin-bottom        : 40px;
    margin-top              : 5rem;
    padding                 : 9rem 0;
    background-image        : url(../img/bg-portada.jpg);
    background-size         : cover;
    background-attachment   : fixed;

    .contacto-info-container {
      background: white;
      width     : 70%;
      max-width : 70rem;
      margin    : 0 auto;
      box-shadow: 1px 3px 3px rgb(grey, 0.08);
      padding   : 5rem;

      .space-contacto {
        margin-bottom: 60px;
      }

      .contenido-info {
        h4 {
          font-size     : 12px;
          font-weight   : 100;
          text-transform: uppercase;
        }

        span {
          color    : grey;
          font-size: 12px;
        }

        a {
          color    : grey;
          font-size: 12px;
        }
      }
    }
  }
}

footer {
  background-color: #191919;
  color           : white;
  height          : 90px;

  div {
    padding-top: 9px;

  }
}