<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="fontawesome-free-5.0.1/css/fontawesome-all.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    header.background-header.fixed-top
      .container: .row
        div.text-center
          div
            img(src="img/logo.jpg", alt="")
          div
            ul.align-items-center
              li: a(href="#") Inicio
              li: a(href="#") Qué ofrecemos
              li: a(href="#") Galería
              li: a(href="#") Testimonios
              li: a(href="#") Contacto
    section.agenty-seccion
      .container: .row
        div.text-center
          h1 vacations agenty
          p Lorem ipsum dolor sit amet consectetur adipisicing.
          a(href="#") Conoce más
    section.service
      .container: .row
        div.col-12.text-center
          h2 Nuestros servicios
          p Lorem ipsum dolor sit.
        article.text-center.col-12
          i.fa.fa-users
          h3 Planes
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eveniet?
        article.text-center.col-12
          i.fa.fa-plane
          h3 Viajes
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eveniet?
        article.text-center.col-12
          i.fa.fa-building
          h3 Hoteles
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eveniet?
    section.galeria
      .container: .row
        div.text-center.col-12.galeria-titulo
          h2 Galería
          p Lorem ipsum dolor sit.
      div.img-container
        div
          img(src="img/imagen1.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
        div
          img(src="img/imagen2.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
        div
          img(src="img/imagen3.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
        div
          img(src="img/imagen4.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
        div
          img(src="img/imagen5.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
        div
          img(src="img/imagen6.jpg", alt="").img-fluid
          div.overlay
            div.datos-avatar
              h3 Nombre Imagen
              p Lorem, ipsum dolor.
    section
      .container: .row
        div.col-12.text-center
          h2 Estamos listos para atenderte
          a(href="#") Ponte en contácto
    section.testimonios
      .container: .row
        div.col-12.text-center
          h2 Mira lo que dicen de nosotros
          p Lorem ipsum dolor sit amet consectetur adipisicing.
        div.row
          div.testimonios-container.text-center
            div.col-12.testimonio
              div.text-center
                img(src="img/foto1.jpg", alt="")
              div.text-center
                span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                h4 Lorem, ipsum dolor.
                p Lorem, ipsum.
            div.col-12.testimonio
              div.text-center
                img(src="img/foto1.jpg", alt="")
              div.text-center
                span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                h4 Lorem, ipsum dolor.
                p Lorem, ipsum.
            div.col-12.testimonio
              div.text-center
                img(src="img/foto1.jpg", alt="")
              div.text-center
                span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                h4 Lorem, ipsum dolor.
                p Lorem, ipsum.
    section.contacto
      .container: .row
        div.col-12.text-center
          h2 Contáctanos
          p Lorem ipsum dolor sit amet.
        div.d-flex.col-12.text-center
          div.col-6
            h4 teléfono
            a(href="#") 555 555 555
            a(href="#") 333 434 556
          div.col-6
            h4 dirección 
            span calle 
              a(href="#") 123 #10-10
            span calle 
              a(href="#") 123 #10-10
        div.d-flex.col-12.text-center
          div.col-6
            h4 email
            a(href="#") hola@correo.com
            a(href="#") contacto@correo.com
          div.col-6
            h4 contácto
            a(href="#") Lun - Sab: 8AM - 6PM
            a(href="#") Dom: 10AM - 1PM
    footer
      div.text-end
       span Todos los derechos reservados



      